@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  width: 100%;
  min-height: 60vh;
  height: 100%;
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 0.5rem;
}
