.back_button {
  padding-left: 2rem;
  cursor: pointer;
  text-decoration: underline;
}
.product_detail_container {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  width: 100%;
  padding: 1rem 2rem;
  img,
  .info_container {
    width: 100%;
    overflow: hidden;
  }
  img {
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
  .info_container {
    h1 {
      font-weight: 600;
    }
    h2 {
      font-weight: 500;
    }
    p {
      font-weight: 300;
    }
  }
  @media (max-width: 600px) {
    flex-direction: column;
    img {
      height: auto;
      aspect-ratio: 16 / 9;
    }
    .info_container {
      h1 {
        font-size: 1.5rem;
      }
    }
  }
}
.btn.add_to_cart {
  cursor: not-allowed;
  background-color: rgb(0, 190, 143);
  margin-top: 1rem;
  width: 200px;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}
